.App {
    text-align: center;
    font-size: 35px;
    margin-top: 20%;
}

.App-title {
    font-size: 50px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
    display: inline;
    margin: 10px;
}

.form {
    display: inline-block;
}

.Deadline-input, .Submit-button {
    font-size: 25px;
    margin: 25px 5px;
    padding: 5px 25px;
}
